@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(148, 138, 156);
  color: black;
  font-family: "Russo One", sans-serif;
}

audio {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(179, 156, 140);
  border: 5px solid rgb(228, 224, 28);
  width: 660px;
  height: 330px;
}
.padsControl {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 10px;
}
.drum-pad {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  cursor: pointer;
}
.drum-pad:active {
  background-color: yellow;
}
.active {
  background-color: yellow;
}
.panelControl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 5%;
  min-width: 40%;
}
.displayBlock {
  display: flex;
  justify-content: center;
}
.display {
  background-color: gray;
  width: 80%;
  height: 40px;
  text-align: center;
}

.brand {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  align-items: center;
}

/* стили переключателя*/
.switch-btn {
  display: inline-block;
  width: 50px; /* ширина */
  height: 20px; /* высота */
  background: #bfbfbf; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
  content: "";
  height: 14px; /* высота кнопки */
  width: 18px; /* ширина кнопки */
  background: #1b37d4; /* цвет кнопки */
  top: 3px; /* положение кнопки по вертикали относительно основы */
  left: 3px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: #080e0bf6;
}
.switch-on::after {
  left: 28px;
}

/* стили ползунка */

.range {
  height: 5px;
  appearance: none;
  background: #0f1920;
  outline: none;
  cursor: pointer;
}

.range::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 30px;
  background: #0d20c9;
  border: 2px solid #022f52;
  cursor: pointer;
}
